<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="img/favicon.ico" href="/chat.svg"/>
</head>

<body>
    <section class="chat__section">
        <div class="brand">
            <img height="40" src="/chat.svg" alt="">
            <h1>Messenger</h1>
        </div>
        <div class="message__area"></div>
        <div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
    </section>
    <div class="upload-background">

    </div>
   
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>

</html>